{%extends 'base.html' %}
{% block context %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for produto in prods %}
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{produto.image_url}}" alt="" width="100%" height="225">
                    <div class="card-body">
                        <p class="card-text">{{produto.name}}.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url 'detalhe_produto' produto.id %}"><button type="button"
                                        class="btn btn-sm btn-outline-secondary">View</button></a>
                                <button type="button"
                                    class="btn btn-sm btn-outline-secondary">{{produto.price}}</button>
                            </div>
                            <small class="text-body-secondary">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}